.mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}
.mainDiv div {
    display: flex;
    flex: 1 1 0;
    margin: 20px;
}

.playerChoice {
    display: initial;
    color: lightgrey;
    font-size: 32px;
}
.playerChoice:hover {
    color: black;
}
.hidden {
    display: none;
}

@keyframes selected {
    0% {font-size: 32px; left:0px; top:0px;}
    100% {font-size: 200px; left:200px; top:200px;}
}
.selected {
    color: black;
    display: initial;
    animation: selected 0.5s forwards;
}
.draw {
    color: darkgrey;
}
.lose {
    color:darkred;
}
.win {
    color: lightgreen;
}